@using TimeTracker.Data.Models
@model TimeTracker.Api.Models.UserRecordHoursViewModel

@{
    ViewBag.Title = "Time Entry Report";
    Layout = "_Layout";
}

<h2>@Model.Name: @ViewBag.Title</h2>

<form class="well" asp-action="RecordHours" method="post">
    <div class="form-row">
        <div class="col">
            <input type="date" name="Date" class="form-control" value="@Model.Date.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col">
            @Html.DropDownListFor(m=> m.TimeEntryType, 
                Html.GetEnumSelectList(typeof(TimeEntryTypeEnum)), 
                htmlAttributes: new { onChange = "selectTimeEntry(this);", @class = "custom-select" })
        </div>
        <div class="col" id="projectColumn">
            @Html.DropDownListFor(m=> m.ProjectId, Model.Projects.Select(x=> new SelectListItem(x.Name, x.ProjectId.ToString())), 
                htmlAttributes: new { @class = "custom-select"} )
        </div>
        <div class="col" id="nonbillColumn">
            <input type="text" name="NonbillReason" class="form-control" placeholder="non billable reason" maxlength="30"/>
        </div>
        <div class="col">
            <input type="text" name="Hours" class="form-control" placeholder="Hours" maxlength="3" min="0" max="12" required>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary my-1">Record Hours</button>
        </div>
    </div>
</form>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Billable</th>
        <th scope="col">Sick</th>
        <th scope="col">Vacation</th>
        <th scope="col">Non Billable</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Hours)
    {
        <tr>
            <td>@user.Date  @user.DayOfWeek</td>
            <td>@user.BillableHours @user.BillableProject</td>
            <td>@user.SickHours @user.SickReason</td>
            <td>@user.VacationHours @user.VacationReason</td>
            <td>@user.OtherNonBillable @user.NonBillableReason</td>
            <td class="@(user.TotalHours >= 8 ? "bg-success" : "bg-warning")">@user.TotalHours.ToString("F1")</td>
        </tr>
    }
    </tbody>
</table>

<div>
     @Html.DropDownListFor(m=> m.SelectedMonth, Model.Months)), 
                    htmlAttributes: new { @class = "custom-select" } )
</div>

@section scripts
{
    <script>

        function selectTimeEntry(event) {

            const projectColumn = document.getElementById("projectColumn");
            const nonbillColumn = document.getElementById("nonbillColumn");

            if (event.selectedIndex == 0) {
                projectColumn.style.display = "block";
                nonbillColumn.style.display = "none";
            } else {
                projectColumn.style.display = "none";
                nonbillColumn.style.display = "block";
            }
        }

        function getValueFromSelect(selectName, selectedIndex) {
            const value = document.getElementsByName(selectName).options[selectedIndex].value;
            return value;
        }

        selectTimeEntry({ selectedIndex : 0 });
    </script>
}