@model System.Collections.Immutable.IImmutableList<TimeTracker.Library.Models.WebReport.UserEntry>

@{
    ViewBag.Title = "User Time Entry History Report";
    Layout = "_Layout";
}

<h2>User Time Entry History Report</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Billable Hours</th>
        <th scope="col">Sick Hours</th>
        <th scope="col">Vacation Hours</th>
        <th scope="col">Other Non Billable Hours</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Date  @user.DayOfWeek</td>
            <td>@user.BillableHours</td>
            <td>@user.SickHours @user.SickReason</td>
            <td>@user.VacationHours @user.VacationReason</td>
            <td>@user.OtherNonBillable @user.NonBillableReason</td>
        </tr>
    }
    </tbody>
</table>
