@model System.Collections.Immutable.IImmutableList<TimeTracker.Library.Models.Admin.UserReport>

@{
    ViewBag.Title = "Users YTD Hour Report";
    Layout = "_Layout";
}

<h2>Users YTD Hour Report</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Total Billable Hours</th>
        <th scope="col">Total Sick Hours</th>
        <th scope="col">Total Vacation Hours</th>
        <th scope="col">Total Other Nonbillable Hours</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.SlackUserName</td>
                <td>@user.First</td>
                <td>@user.Last</td>
                <td>@user.BillableHoursYtd</td>
                <td>@user.SickHoursYtd</td>
                <td>@user.VacationHoursYtd</td>
                <td>@user.OtherNonBillableYtd</td>
            </tr>
        }
    </tbody>
</table>

